{% extends 'ScheduleCMSBundle:default:index.html.twig' %}
{% block bodyId %}lecturer{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4"><h1>Dėstytojai</h1></div>
        <div class="col-md-4 col-md-offset-4">
            <a class="btn btn-success" href="{{ path('lecturer_new') }}" role="button">Pridėti dėstytoją</a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Vardas Pavardė</th>
                <th class="hidden-xs">El.paštas</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path('lecturer_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a> {{ entity.firstName }} {{ entity.lastName }}
                </td>
                <td class="hidden-xs">{{ entity.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
